#scroll-container {
    overflow-y: auto;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
    --top-mask-size: 0px;
    --bottom-mask-size: 0px;
}
  
#scroll-container.top-overflowing {
    --top-mask-size: 4em !important;
}

#scroll-container.bottom-overflowing {
    --bottom-mask-size: 4em !important;
}

.message-block {
    position: relative;
}
.timestamp {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 0.75rem; /* Adjust size as needed */
    color: #6b7280; /* Adjust color as needed */
}