<div id="scroll-container" class="flex flex-col overflow-y-auto h-full" (scroll)="onScroll($event)" #scrollContainer>
    <ng-container *ngFor="let message of messages; let i = index">
        <div [ngClass]="{'mt-2' : messages[i-1]}" class="block p-2 bg-white border border-gray-200 rounded-lg shadow">
            <span class="text-hsg font-bold">{{message.username}}</span>
            <br>
            <span class="text-sm text-gray-900 whitespace-pre-wrap">{{ message.content }}</span>
            <span class="timestamp text-xs text-gray-500" style="position: absolute; bottom: 5px; right: 10px;">{{ message.timestamp | date: 'short' }}</span>
        </div>
    </ng-container>
</div>