<h1 class="text-4xl font-bold mb-3">Imprint</h1>

<p class="mb-3 text-gray-500">
    Tim Schlegel<br>
    +49 170 5555305<br>
    mail&#64;timschlegel.com<br>
    Neptunstrasse 1<br>
    CH-9000 St.Gallen
</p>

<p class="mb-3 text-gray-500">
    Disclaimer:<br>
    Diese Website ist ein studentisches Projekt und hat keinen offiziellen Bezug zu der Universität St.Gallen oder sonstigen Institutionen.<br>
    Der Inhalt der Website ist frei erfunden und Aussagen auf der Website sind nicht rechtlich bindend.
</p>