<header class="shadow">
    <nav class="bg-white border-gray-200">
        <div class="w-full mx-auto max-w-screen-xl flex justify-between items-center p-4">
            <div class="flex-1 min-w-max flex justify-start">
                <a class="" [routerLink]="['/']" class="">
                    <img [src]="'header.hsg-logo' | transloco" class="h-[45px] m-[22.5px] hidden md:block" alt="University of St. Gallen Logo" />
                    <img src="/assets/images/hsg_logo.svg" class="h-[45px] m-[22.5px] md:hidden" alt="University of St. Gallen Logo" />
                </a>
            </div>
            <div class="">
                <a class="" [routerLink]="['/']">
                    <span class="text-2xl font-semibold whitespace-nowrap text-gray-800">EasyChat</span>
                </a>
            </div>
            <div class="flex-1 min-w-max flex justify-end">
                <app-language-selector/>
            </div>
        </div>
    </nav>      
</header>