<div id="scroll-container" class="flex flex-col overflow-y-auto h-full" (scroll)="onScroll($event)" #scrollContainer>
    <ng-container *ngFor="let message of messages; let i = index">

        <div *ngIf="(messages[i-1]?.username != message.username) || (messages[i-1]?.date?.getDate() != message.date?.getDate()); then newNicknameBlock else sameNicknameBlock"></div>
        <ng-template #newNicknameBlock>
            <div *ngIf="messages[i-1]?.date?.getDate() != message.date?.getDate()" [ngClass]="{'mt-4' : messages[i-1]}" class="px-2 bg-hsg rounded-lg shadow w-fit self-center">
                <span class="text-sm text-white">{{ message.date | date:'d. MMM yyyy' }}</span>
            </div>
            <div class="block p-2 bg-white border border-gray-200 rounded-lg shadow mt-2">
                <div class="relative pr-8">
                    <span class="text-hsg font-bold">{{message.username}}</span>
                    <br>
                    <span class="text-sm text-gray-900 whitespace-pre-wrap break-all">{{ message.content }}</span>
                    <span class="text-xs text-gray-400 absolute right-0 bottom-0">{{ message.date | date:'H:mm' }}</span>
                </div>
            </div>
        </ng-template>
        <ng-template #sameNicknameBlock>
            <div *ngIf="messages[i-1]?.date?.getDate() != message.date?.getDate()" class="px-2 bg-hsg rounded-lg shadow w-fit self-center">
                <span class="text-sm text-white">{{ message.date | date:'d. MMM yyyy' }}</span>
            </div>
            <div class="block p-2 bg-white border border-gray-200 rounded-lg shadow">
                <div class="relative pr-8">
                    <span class="text-sm text-gray-900 whitespace-pre-wrap break-all">{{ message.content }}</span>
                    <span class="text-xs text-gray-400 absolute right-0 bottom-0">{{ message.date | date:'H:mm' }}</span>
                </div>
            </div>
        </ng-template>
    </ng-container>
</div>